*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
BreadFight/BreadFight/bin/
BreadFight/bin/
BreadFight/BreadFight/obj/
BreadFight/obj/
BreadFight/Content/obj/
!BreadFight/x64
!BreadFight/x86
!BreadFight/Libraries
